{% extends 'homebase.html' %}
{% load static %}
{% block body %}


<br>
<section class="service-section">
  <div class="container-fluid-lg">
    <div class="row g-3 row-cols-xxl-5 row-cols-lg-3 row-cols-md-2">
      <div>
        <div class="service-contain-2">
          <svg class="icon-width">
            <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/svg/service-icon-4.svg#shipping">
            </use>
          </svg>
          <div class="service-detail">
            <h3>Free Shipping</h3>
            <h6 class="text-content">Free Shipping world wide</h6>
          </div>
        </div>
      </div>
      <div>
        <div class="service-contain-2">
          <svg class="icon-width">
            <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/svg/service-icon-4.svg#service">
            </use>
          </svg>
          <div class="service-detail">
            <h3>24 x 7 Service</h3>
            <h6 class="text-content">Online Service For 24 x 7</h6>
          </div>
        </div>
      </div>
      <div>
        <div class="service-contain-2">
          <svg class="icon-width">
            <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/svg/service-icon-4.svg#pay">
            </use>
          </svg>
          <div class="service-detail">
            <h3>Online Pay</h3>
            <h6 class="text-content">Online Payment Avaible</h6>
          </div>
        </div>
      </div>
      <div>
        <div class="service-contain-2">
          <svg class="icon-width">
            <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/svg/service-icon-4.svg#offer">
            </use>
          </svg>
          <div class="service-detail">
            <h3>Festival Offer</h3>
            <h6 class="text-content">Super Sale Upto 50% off</h6>
          </div>
        </div>
      </div>
      <div>
        <div class="service-contain-2">
          <svg class="icon-width">
            <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/svg/service-icon-4.svg#return">
            </use>
          </svg>
          <div class="service-detail">
            <h3>100% Original</h3>
            <h6 class="text-content">100% Money Back</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br>
{%if products %}
<h3 style="text-align:center; color:#3E454C;">{{word}}</h3>
<br>

<!-- products data start -->

<div class="container">
  <h2 style="text-align:center;">Collections</h2>
  <br>  
  <div class="row">
    {% for p in products %}
    <div class="col-md-4">
      <div class="card" style="margin:10px;">
        <div class="card-body">
          <div class="category-image">
            <img class="img" src="{{ p.product_image.url }}" alt="product pic" height="300px" width="300px">
          </div>
          <div class="info-inner">
            <span style="background-color:#3e454c; color:fbfbfb;" class="p-company">{{p.name}}</span>

          </div>
          <div class="a-size">{{p.description}}</div>
          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="{% url 'add-to-cart' p.id  %}">
              <span class="price">${{p.price}}</span>
              <span class="add-to-cart">
                <span class="txt"><i class="fa fa-shopping-cart"></i> Add To Cart</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>



{% else %}
<h3 style="text-align:center; color:#3E454C;">No Search Found</h3>
{%endif%}

{% endblock %}
<!--
developed By : Anukul Srivastava
-->