{% extends 'customer_base.html' %}
{% load static %}
{% block body %}

<br>
<section class="breadscrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadscrumb-contain">
                    <h1>Terms & Condition</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .container {
        text-align: justify;
        text-justify: inter-word;
    }
</style>
<br><br>
<div class="container">
    <p>Welcome to <b>FastKart</b>. These terms and conditions govern your use of our website and the purchase
        of
        furniture and related services from us. By accessing our website and placing an order, you agree to be bound by
        these terms and conditions.
        All content on our website, including text, images, logos, and graphics, are protected by intellectual property
        laws
        and remain the property of [Your Company]. You may not use, reproduce, distribute, or modify any content from
        our
        website without our explicit written permission.
        We strive to provide accurate product descriptions and images on our website. However, we do not warrant that
        the
        product descriptions, colors, or other content on the website are accurate, complete, or error-free. Please
        review
        the specific product details and contact us if you have any questions before making a purchase.
        All prices listed on our website are in [currency] and are subject to change without notice. Payment must be
        made
        in
        full at the time of placing an order. We accept [list accepted payment methods] as forms of payment. All
        payments
        are securely processed, and we do not store any payment information.</p>

    <p>Once you place an order, we will send you an order confirmation via email. This confirmation does not signify
        acceptance of your order; it is an acknowledgment that we have received your request. We reserve the right to
        accept
        or decline your order for any reason. In the event of cancellation, we will refund the full payment.

        We will make reasonable efforts to deliver your furniture within the estimated delivery timeframe. However,
        delivery
        times are approximate and may vary depending on factors beyond our control. Any delay or failure in delivery
        does
        not entitle you to cancel the order or claim compensation unless otherwise specified by law.

        We want you to be satisfied with your purchase. If you receive a damaged or defective item, please contact us
        within
        [number of days] of delivery to initiate a return. For eligible returns, we will provide a refund or
        replacement.
        Please review our Return Policy on our website for detailed instructions and requirements.</p>

    <p>Our furniture may come with manufacturer warranties. Please refer to the specific product warranty information
        provided with your purchase. We do not provide any additional warranties beyond what is offered by the
        manufacturer,
        unless otherwise stated explicitly.

        To the extent permitted by law, [Your Company] shall not be liable for any direct, indirect, incidental,
        consequential, or punitive damages arising out of or in connection with the use or inability to use our website
        or
        the purchase and use of our products.

        Terms and conditions shall be governed by and construed in accordance with the laws of [Your Country/State].
        Any dispute arising out of or in connection with these terms and conditions shall be subject to the exclusive
        jurisdiction of the courts in [Your Jurisdiction].
        Reserve the right to modify or update these terms and conditions at any time without prior notice. Any changes
        will be effective immediately upon posting on our website. It is your responsibility to review the terms and
        conditions periodically for updates.</p>
</div>
{% endblock %}